/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
1. Từ trong ra ngoài
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/*
1. Vị trí
2. Kích thước ( width, height)
3. Màu sắc 
4. Kiểu dáng (kiểu chữ, hình tròn, hình vuông...)
*/

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* Common: */
.text-white {
    color: #fff!important;
}

.text-center {
    text-align: center!important;
}

.btn {
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 10px 16px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
}

.float-right {
    float: right !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;    
}

.row {
    margin-left: -8px;
    margin-right: -8px
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.3%;
}

/* Main */
#main { 

}

/* Header */
#header { 
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

#header .menu-btn {
    display: none;
}

#header .menu-btn,
#header .search-btn {
    float: right;
    color: white;
    line-height: 46px;
    padding: 0 24px;
}

#header .search-btn:hover {
    background-color: #f44336;
}

#header .menu-btn:hover {
    background-color: #ccc;
    color: #000;
}

/* Header nav: */
#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a { 
    color: #fff;  
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    position: absolute;
    display: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav a {
    color: black;
    line-height: 32px;
    padding: 0 16px;
    width: 160px;
}

#nav .arrow-down-icon {
    font-size: 14px;
}

/* Slider */
#slider { 
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/slider-1.jpg') top center/ cover no-repeat;
    z-index: -1;
}

#slider .content-box {
    position: absolute; 
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#slider .content-heading {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 500;
}

#slider .content-description {
    font-size: 15px;
    padding-bottom: 36px;
}


/* Content: */
.content { 

}

/* About section: */
.content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.section-heading {
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0;
    text-align: center;
    letter-spacing: 0.2em;
}

.section-sub-heading {
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
    margin: 15px 0;
    text-align: center;
}

.about-content {
    font-size: 15px;
    text-align: justify;
    margin: 15px 0;
    line-height: 1.4em;
}

/* Member section: */
.members-list {
    margin-top: 32px;
}

.member-name {
    font-size: 15px;
    margin: 15px 0;
}

.member-img {
    width: 154px;
    border-radius: 4px;
}

/* Tour section: */
.tour-section {
    background-color: black;
    font-size: 15px;
}

/* Ticket tour: */
.ticket-tour {
    background-color: #fff;
    margin-top: 40px;
}

.ticket-tour li {
    color: #757575;
    padding: 10px 16px;
    border-bottom: solid 1px #ddd;
    list-style-type: none;
}

.ticket-tour .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 6px;
    margin-left: 16px;
}

.ticket-tour .quantity {
    background-color: #000;
    color: #fff;
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    line-height: 24px;
    text-align: center;
    margin-top: -2px;
    margin-right: 16px;
}

/* Place-list: */
.place-list {
    margin-top: 16px;
    font-size: 15px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-content {
    background-color: #fff;
    padding: 16px;
}

.place-heading {
    margin-bottom: 15px;
    font-weight: 600;
}

.place-sub-heading {
    margin: 15px 0;
    color: #757575;
}

.place-disc {
    margin: 15px 0;
    line-height: 1.4em;
}

/* Contact section */
.contact-content {
    margin-top: 46px;
}

.contact-info {
    line-height: 1.4;
    font-size: 18px;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    width: 100%;
}

#footer {  

}

#footer .map-section img {
    width: 100%;;
}

#footer .social-list {
    padding: 64px 16px;
    background-color: #f1f1f1;
}

#footer .list-item {
    text-decoration: none;
    color: #757575;
    font-size: 24px;
    display: inline-block;
}

#footer p {
    margin: 15px 0;
    font-size: 15px;
    color: #757575;
}

#footer p a {
    color: #757575;
}

/* Modal: */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* Placing the box-modal centering by flexbox */
    justify-content: center;
    align-items: center;
    display: none;
}

/* modal-open: */
.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px); /* Reponsive for modal container*/
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    padding: 16px;
    opacity: 0.7;
}

.modal-close:hover {
    opacity: 1;
}

.modal-header {
    background-color: #009688;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    padding: 42px 0;
}

.modal-body {
    padding: 16px;
    font-size: 15px;
}

.modal-label {
    display: block;
    margin-bottom: 15px;
}

input.modal-input {
    margin-bottom: 15px;
    width: 100%;
    padding: 8px;
    outline: none;
}

.modal-submit-btn {
    width: 100%;
    background-color: #009688;
    color: #fff;
    text-transform: uppercase;
    display: block;
    padding: 19px 16px;
    border: none;
}

.modal-submit-btn:hover {
    opacity: 0.7;
}

.modal-footer {
    text-align: right;
    padding: 15px 16px 31px
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-130px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.close {
    animation: modalFadeOut ease 0.25s
}

@keyframes modalFadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-130px);
    }
}